table {
  width: 800px;
  height: 450px;
  background: #fcfcfc;
  text-align: center;
}

th {
  width: 150px;
}

.red{
  background: red;
}

.blue {
  background: #7ad8ed;
}

.black {
  background: black;
  color: white;
}

.disable_day {
  background: #bebaba;
}
